:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #6b7280;
  --light: #eee;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --red: #dc143c;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Courier new", monospace;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #ffe4e1;
}

header {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

i.fa.fa-heart-o {
  font-size: 1.5rem;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--darkest);
  margin-bottom: 1rem;
  text-align: center;
}

#new-task-form {
  display: flex;
  border-radius: 1rem;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-task-input {
  flex: 1 1 0%;
  background-color: var(--light);
  padding: 1rem;
  margin-right: 1rem;
  color: var(--dark);
  border-radius: 1rem;
  font-size: 1.2rem;
  color: green;
}

#new-task-input::placeholder {
  color: var(--light);
}

#new-task-submit {
  color: var(--red);
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
}

#new-task-submit:hover {
  opacity: 0.3;
}

#new-task-submit:active {
  opacity: 0.9;
}

main {
  flex: 1 1 0;
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list {
  padding: 1rem;
}

.task-list h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--dark);
  margin-bottom: 1rem;
}

#tasks .task {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  border: 5px solid black;
}

#tasks .task .content {
  flex: 1 1 0%;
}

#tasks .content .text {
  color: var(--darkest);
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

#tasks .task .content .text:not(:read-only) {
  color: var(--pink);
}

#tasks .task .actions {
  display: flex;
  margin: 0 0.5rem;
}

.task .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.task .actions button:hover {
  opacity: 0.8;
}

.task .actions button:active {
  opacity: 0.6;
}